.main-container, .search-page, .error-page{
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Noto Sans SC', sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 80px 0 20px 0;
  padding-bottom: 30px;
}

.info-home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 10px;
  padding: 10px;
  background-color: #6f6f823c;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  border-radius: 20px;
  height: 5%;
  width: 40%;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

dialog {
  width: 60%;
  height: 60%;
  border-radius: 20px;
  border: none;
  background-color: #9c9cac;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 25%);
  text-align: center;
}

.modal-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-text {
  max-height: 100%;
  overflow: auto;
}


.linked {
  color: #fa8bca;
  font-size: 1.3rem;
}

.small-panda {
  height: 50px;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .info-home-box {
    height: 18%;
    padding: 15px;
  }
}