.saved-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.saved-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.saved-chart-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.header {
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 3.3rem;
  margin: 20px 0 0 0;
  text-align: center;
}

.info-text {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.info-saved-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 10px;
  padding: 10px;
  background-color: #6f6f823c;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  border-radius: 20px;
  height: 80%;
  width: 40%;
}

.quiz-btn {
  border: none;
  border-radius: 10px;
  padding: 13px;
  width: 100%;
  background-color:  #ebb1d2;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.2rem;
}

.quiz-link {
  width: 70%;
}

.quiz-btn:hover {
  background-color: #fa8bca;
  cursor: pointer;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9994aca9;
  width: 30%;
  border-radius: 10px;
}

.select-label {
  font-size: 1.1rem;
}

select:focus {
  outline: none;
  border: 3px solid #fa8bca;
}

input:focus {
  outline: none;
  border: 3px solid #fa8bca;
} 

@media (max-width: 850px) {
  .select-container {
    width: 70%;
  }
 
.info-saved-box {
    height: 30%;
 }
}