.main-kanji {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 45%);
  border-radius: 20px;
  background-color: rgb(255, 251, 251);
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.main-char {
  font-size: 7rem;
  margin: 0;
}

.description {
  text-align: center;
  padding: 0 10px;
}

p {
  font-size: .8rem;
}

.save-btn {
  border: none;
  border-radius: 10px;
  padding: 7px;
  width: 120px;
  margin: 5px;
  background-color:  #ebb1d2;
  font-family: 'Noto Sans SC', sans-serif;
}

.save-btn:hover {
  background-color: #fa8bca;
  cursor: pointer;
}

.studied-text {
  margin: 0;
}

.check-icon {
  width: 30px;
  margin-left: 20px;
  object-fit: contain;
}

.check-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #6f6f823c;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-kanji {
    width: 300px;
    height: 350px;
  }

  .main-char {
    font-size: 5.5rem;
  }
}