.login-page {
    flex-direction: column;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #eccfe084;
    height: 30%;
    width: 60%;
    padding: 20px;
}

.login-container img {
    height: 50%;
}

.demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 1.3rem;
}

.login-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color:  #ebb1d2;
    font-family: 'Noto Sans SC', sans-serif;
    cursor: pointer;
}   

.about-btn {
    margin-top: 30px;
    padding: 20px;
    width: 200px;
    font-size: 1rem;
}

@media (max-width: 650px) {
    .login-container {
        flex-direction: column;
        height: 60%;
    }
    .login-container img {
        height: 30%;
    }
}